@model Lab09.Models.vdlLoaiSanPham

@{
    ViewData["Title"] = "Xác nhận xóa";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm border-danger">
            <div class="card-header bg-danger text-white">
                <h3 class="mb-0">Xóa Loại sản phẩm</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title text-danger">Bạn có chắc chắn muốn xóa mục này không?</h4>
                <p class="card-text">Hành động này không thể được hoàn tác. Vui lòng xem lại thông tin dưới đây trước khi xác nhận.</p>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.vdlMaLoai)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.vdlMaLoai)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.vdlTenLoai)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.vdlTenLoai)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.vdlTrangThai)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.vdlTrangThai)
                    </dd>
                </dl>
            </div>
            <div class="card-footer bg-light">
                <form asp-action="vdlDelete">
                    <input type="hidden" asp-for="vdlId" />
                    <div class="d-flex justify-content-between">
                        <a asp-action="vdlIndex" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Xác nhận Xóa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>